# Dependency directories
node_modules

# Build artifacts
build/
dist/
witnet/artifacts
witnet/build
witnet/cache
witnet/tests/**/addresses.json

# Flattened contracts
flattened/

# Environmental configuration files
.env

# Tmp files
*.tmp
.old/