# Dependency directories
node_modules
package-lock.json
yarn-error.log

# Build artifacts
build/
dist/
witnet/migrations/build/
witnet/tests/addresses.json

# Flattened contracts
flattened/

# Environmental configuration files
.env

# Tmp files
*.tmp
.old/