# Dependency directories
node_modules
package-lock.json
yarn-error.log
*lock*

# Build artifacts
build/
dist/
witnet/build/
witnet/tests/addresses.json

# Flattened contracts
flattened/

# Environmental configuration files
.env

# Tmp files
*.tmp
.old/